.list_main{
    display: flex;
}
.head h1{
    color: #0794ff;
    display: inline-block;
}
.head p{
    display: inline-block;
    color: rgba(0, 0, 0, 0.427);
    font-weight: 700;
}
main{
    margin: 20px 40px;
    width: 100%;
}
.head{
    margin-bottom: 30px;
}
h5{
    background-color: rgb(229, 229, 229);
    text-align: center;
    padding: 10px 0;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    height: 300px;
    margin-top: 30px;
}
table td{
    border: 2px solid rgba(146, 146, 146, 0.377);
    padding-left:27px;
    width: 200px;
    font-size: 18px;

}
section{
    display: flex;
}
img{
    height: 250px;
}
.fropic{
    margin: 30px;
}
input{
    width: 120px;
    border: 2px solid #0794FF;
    background-color: #0794FF;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 18px;
    margin: 10px;
    color: white;
}
.file{
    width: 200px;
    background-color: transparent;
    border-radius: 10px;
    font-size: 15px;
    margin:10px 0 0 0 ;
    color: #000;
    border: 2px solid black;
}
.footer{
    text-align:center;
    margin:50px;
}